openapi: 3.0.1
info:
  contact:
    email: support@clicksend.com
  description: |2

    This is an official SDK for [ClickSend](https://clicksend.com)

    Below you will find a current list of the available methods for clicksend.

    *NOTE: You will need to create a free account to use the API. You can register [here](https://dashboard.clicksend.com/#/signup/step1/)..*
  termsOfService: https://www.clicksend.com/au/legal/terms-of-service/
  title: ClickSend v3 API
  version: "3.1"
servers:
- url: https://rest.clicksend.com/v3
tags:
- description: Everything about Accounts
  name: Account
- description: Everything about Subaccounts
  name: Subaccount
- description: Endpoints for sending and viewing messages
  name: SMS
- description: Everything about launching and managing SMS Campaigns
  name: Sms Campaign
- description: Everything about sending MMS
  name: MMS
- description: Everything about sending Letters
  name: Post Letter
- description: Everything about sending Postcards
  name: Post Postcard
- description: Everything about distributing Flyers
  name: Post Direct Mail
- description: Everything about Post Return Addresses
  name: Post Return Address
- description: Everything about sending and viewing responses to voice messages
  name: Voice
- description: Everything about sending and viewing fax
  name: Fax
- description: Everything about Global Sending
  name: Global Sending
- description: Everything about Email to SMS
  name: Email To Sms
- description: Everything about purchasing dedicated numbers
  name: Number
- description: Everything about creating and manipulating contact lists
  name: ContactList
- description: Everything about creating moving and deleting contacts
  name: Contact
- description: Everything about account statistics
  name: Statistics
- description: Everything about searching contact lists
  name: Search
- description: Everything about uploading media files
  name: Upload
- description: Everything about recharging accounts with credit
  name: Account Recharge
- description: Everything about transfering credit for resellers
  name: Transfer Credit
- description: Everything about viewing referred accounts
  name: Referral Account
- description: Everything about viewing creating and modifying clients accounts.
  name: Reseller Account
- description: Everything about viewing country code mapping
  name: Countries
paths:
  /countries:
    get:
      description: Get all countries
      operationId: CountriesGet
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security: []
      summary: Get all country codes
      tags:
      - Countries
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-accepts:
      - application/json
  /sms/send:
    post:
      description: "\n# Send one or more SMS messages\n\nYou can post up to 1000 messages\
        \ with each API call. You can send to a mix of contacts and contact lists,\
        \ as long as the total number of recipients is up to 1000. \nThe response\
        \ contains status and details for each recipient.\n\n*Refer to [Application\
        \ Status Codes](https://developers.clicksend.com/docs/#application-status-codes)\
        \ for the possible response message status strings.*\n"
      operationId: SmsSendPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmsMessageCollection"
        description: SmsMessageCollection model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Send sms message(s)
      tags:
      - SMS
      x-codegen-request-body-name: smsMessages
      x-content-type: application/json
      x-accepts:
      - application/json
  /voice/send:
    post:
      description: Send a voice call
      operationId: VoiceSendPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoiceMessageCollection"
        description: VoiceMessageCollection model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Send voice message(s)
      tags:
      - Voice
      x-codegen-request-body-name: voiceMessages
      x-content-type: application/json
      x-accepts:
      - application/json
  /account:
    get:
      description: Get account details
      operationId: AccountGet
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get account information
      tags:
      - Account
      x-accepts:
      - application/json
    post:
      description: Create An Account
      operationId: AccountPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
        description: Account model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Create a new account
      tags:
      - Account
      x-codegen-request-body-name: account
      x-content-type: application/json
      x-accepts:
      - application/json
  /account/usage/{year}/{month}/subaccount:
    get:
      description: Get account useage by subaccount
      operationId: AccountUseageBySubaccountGet
      parameters:
      - description: Year to filter by (yyyy)
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
      - description: Month to filter by (mm)
        in: path
        name: month
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get account useage by subaccount
      tags:
      - Account
      x-accepts:
      - application/json
  /account-verify/send:
    put:
      description: Send account activation token
      operationId: AccountVerifySendPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountVerify"
        description: Account details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Send account activation token
      tags:
      - Account
      x-codegen-request-body-name: accountVerify
      x-content-type: application/json
      x-accepts:
      - application/json
  /account-verify/verify/{activation_token}:
    put:
      description: Verify new account
      operationId: AccountVerifyVerifyByActivationTokenPut
      parameters:
      - in: path
        name: activation_token
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Verify new account
      tags:
      - Account
      x-accepts:
      - application/json
  /sms/price:
    post:
      description: Calculate sms price
      operationId: SmsPricePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmsMessageCollection"
        description: SmsMessageCollection model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Calculate sms price
      tags:
      - SMS
      x-codegen-request-body-name: smsMessages
      x-content-type: application/json
      x-accepts:
      - application/json
  /sms/history/export:
    get:
      description: Export all sms history
      operationId: SmsHistoryExportGet
      parameters:
      - description: Filename to download history as
        in: query
        name: filename
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Export all sms history
      tags:
      - SMS
      x-accepts:
      - application/json
  /mms/history/export:
    get:
      description: Export all mms history
      operationId: MmsHistoryExportGet
      parameters:
      - description: Filename to download history as
        in: query
        name: filename
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Export all mms history
      tags:
      - MMS
      x-accepts:
      - application/json
  /sms/receipts:
    get:
      description: Get all delivery receipts
      operationId: SmsReceiptsGet
      parameters:
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all delivery receipts
      tags:
      - SMS
      x-accepts:
      - application/json
    post:
      description: Add a delivery receipt
      operationId: SmsReceiptsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Url"
        description: Url model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Add a delivery receipt
      tags:
      - SMS
      x-codegen-request-body-name: url
      x-content-type: application/json
      x-accepts:
      - application/json
  /sms/receipts-read:
    put:
      description: Mark delivery receipts as read
      operationId: SmsReceiptsReadPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DateBefore"
        description: DateBefore model
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Mark delivery receipts as read
      tags:
      - SMS
      x-codegen-request-body-name: dateBefore
      x-content-type: application/json
      x-accepts:
      - application/json
  /sms/inbound:
    get:
      description: Get all inbound sms
      operationId: SmsInboundGet
      parameters:
      - description: Your keyword or query.
        in: query
        name: q
        schema:
          type: string
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all inbound sms
      tags:
      - SMS
      x-accepts:
      - application/json
    post:
      description: Create inbound sms
      operationId: SmsInboundPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Url"
        description: Url model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Create inbound sms
      tags:
      - SMS
      x-codegen-request-body-name: url
      x-content-type: application/json
      x-accepts:
      - application/json
  /sms/{message_id}/cancel:
    put:
      description: Update scheduled message as cancelled
      operationId: SmsCancelByMessageIdPut
      parameters:
      - description: The message ID you want to cancel
        in: path
        name: message_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update scheduled message as cancelled
      tags:
      - SMS
      x-accepts:
      - application/json
  /sms/cancel-all:
    put:
      description: Update all scheduled message as cancelled
      operationId: SmsCancelAllPut
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update all scheduled message as cancelled
      tags:
      - SMS
      x-accepts:
      - application/json
  /sms/templates:
    get:
      description: Get lists of all sms templates
      operationId: SmsTemplatesGet
      parameters:
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get lists of all sms templates
      tags:
      - SMS
      x-accepts:
      - application/json
    post:
      description: Create sms template
      operationId: SmsTemplatesPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmsTemplate"
        description: SmsTemplate model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Create sms template
      tags:
      - SMS
      x-codegen-request-body-name: smsTemplate
      x-content-type: application/json
      x-accepts:
      - application/json
  /sms/templates/{template_id}:
    delete:
      description: Delete sms template
      operationId: SmsTemplatesByTemplateIdDelete
      parameters:
      - description: Template id
        in: path
        name: template_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Delete sms template
      tags:
      - SMS
      x-accepts:
      - application/json
    put:
      description: Update sms template
      operationId: SmsTemplatesByTemplateIdPut
      parameters:
      - description: Template id
        in: path
        name: template_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmsTemplate"
        description: Template item
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update sms template
      tags:
      - SMS
      x-codegen-request-body-name: smsTemplate
      x-content-type: application/json
      x-accepts:
      - application/json
  /voice/price:
    post:
      description: Calculate voice price
      operationId: VoicePricePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoiceMessageCollection"
        description: VoiceMessageCollection model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Calculate voice price
      tags:
      - Voice
      x-codegen-request-body-name: voiceMessages
      x-content-type: application/json
      x-accepts:
      - application/json
  /voice/lang:
    get:
      description: Get all voice languages
      operationId: VoiceLangGet
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all voice languages
      tags:
      - Voice
      x-accepts:
      - application/json
  /voice/receipts:
    get:
      description: Get all delivery receipts
      operationId: VoiceReceiptsGet
      parameters:
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all delivery receipts
      tags:
      - Voice
      x-accepts:
      - application/json
    post:
      description: Add a delivery receipt
      operationId: VoiceReceiptsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Url"
        description: Url model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Add a delivery receipt
      tags:
      - Voice
      x-codegen-request-body-name: url
      x-content-type: application/json
      x-accepts:
      - application/json
  /voice/receipts-read:
    put:
      description: Mark delivery receipts as read
      operationId: VoiceReceiptsReadPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DateBefore"
        description: DateBefore model
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Mark delivery receipts as read
      tags:
      - Voice
      x-codegen-request-body-name: dateBefore
      x-content-type: application/json
      x-accepts:
      - application/json
  /voice/{message_id}/cancel:
    put:
      description: Update voice message status as cancelled
      operationId: VoiceCancelByMessageIdPut
      parameters:
      - description: Your voice message id
        in: path
        name: message_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update voice message status as cancelled
      tags:
      - Voice
      x-accepts:
      - application/json
  /voice/cancel-all:
    put:
      description: Update all voice messages as cancelled
      operationId: VoiceCancelAllPut
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update all voice messages as cancelled
      tags:
      - Voice
      x-accepts:
      - application/json
  /voice/history/export:
    get:
      description: Export voice history
      operationId: VoiceHistoryExportGet
      parameters:
      - description: Filename to export to
        in: query
        name: filename
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Export voice history
      tags:
      - Voice
      x-accepts:
      - application/json
  /subaccounts:
    get:
      description: Get all subaccounts
      operationId: SubaccountsGet
      parameters:
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all subaccounts
      tags:
      - Subaccount
      x-accepts:
      - application/json
    post:
      description: Create new subaccount
      operationId: SubaccountsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Subaccount"
        description: Subaccount model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Create new subaccount
      tags:
      - Subaccount
      x-codegen-request-body-name: subaccount
      x-content-type: application/json
      x-accepts:
      - application/json
  /subaccounts/{subaccount_id}:
    delete:
      description: Delete a subaccount
      operationId: SubaccountsBySubaccountIdDelete
      parameters:
      - description: ID of subaccount to delete
        in: path
        name: subaccount_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Delete a subaccount
      tags:
      - Subaccount
      x-accepts:
      - application/json
    get:
      description: Get specific subaccount
      operationId: SubaccountsBySubaccountIdGet
      parameters:
      - description: ID of subaccount to get
        in: path
        name: subaccount_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get specific subaccount
      tags:
      - Subaccount
      x-accepts:
      - application/json
    put:
      description: Update subaccount
      operationId: SubaccountsBySubaccountIdPut
      parameters:
      - description: ID of subaccount to update
        in: path
        name: subaccount_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Subaccount"
        description: Subaccount model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update subaccount
      tags:
      - Subaccount
      x-codegen-request-body-name: subaccount
      x-content-type: application/json
      x-accepts:
      - application/json
  /subaccounts/{subaccount_id}/regen-api-key:
    put:
      description: Regenerate an API Key
      operationId: SubaccountsRegenApiKeyBySubaccountIdPut
      parameters:
      - description: ID of subaccount to regenerate API key for
        in: path
        name: subaccount_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Regenerate an API Key
      tags:
      - Subaccount
      x-accepts:
      - application/json
  /lists:
    get:
      description: Get all contact lists
      operationId: ListsGet
      parameters:
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all contact lists
      tags:
      - ContactList
      x-accepts:
      - application/json
    post:
      description: Create new contact list
      operationId: ListsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactList"
        description: Contact list model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Create new contact list
      tags:
      - ContactList
      x-codegen-request-body-name: contactList
      x-content-type: application/json
      x-accepts:
      - application/json
  /lists/{list_id}:
    delete:
      description: Delete a specific contact list
      operationId: ListsByListIdDelete
      parameters:
      - description: List ID
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: ListsByListIdDelete
      tags:
      - ContactList
      x-accepts:
      - application/json
    get:
      description: Get specific contact list
      operationId: ListsByListIdGet
      parameters:
      - description: List ID
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get specific contact list
      tags:
      - ContactList
      x-accepts:
      - application/json
    put:
      description: Update specific contact list
      operationId: ListsByListIdPut
      parameters:
      - description: Your list id
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactList"
        description: Contact list model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update specific contact list
      tags:
      - ContactList
      x-codegen-request-body-name: contactList
      x-content-type: application/json
      x-accepts:
      - application/json
  /lists/{list_id}/remove-duplicates:
    put:
      description: Remove duplicate contacts
      operationId: ListsRemoveDuplicatesByListIdPut
      parameters:
      - description: Your list id
        in: path
        name: list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Fields"
        description: Fields model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Remove duplicate contacts
      tags:
      - ContactList
      x-codegen-request-body-name: fields
      x-content-type: application/json
      x-accepts:
      - application/json
  /lists/{list_id}/contacts:
    get:
      description: Get all contacts in a list
      operationId: ListsContactsByListIdGet
      parameters:
      - description: Contact list ID
        in: path
        name: list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Get all contacts updated after a given timestamp.
        in: query
        name: updated_after
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all contacts in a list
      tags:
      - Contact
      x-accepts:
      - application/json
    post:
      description: Create new contact
      operationId: ListsContactsByListIdPost
      parameters:
      - description: List id
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
        description: Contact model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Create new contact
      tags:
      - Contact
      x-codegen-request-body-name: contact
      x-content-type: application/json
      x-accepts:
      - application/json
  /lists/{list_id}/contacts/{contact_id}:
    delete:
      description: Delete a contact
      operationId: ListsContactsByListIdAndContactIdDelete
      parameters:
      - description: List ID
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Contact ID
        in: path
        name: contact_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Delete a contact
      tags:
      - Contact
      x-accepts:
      - application/json
    get:
      description: Get a specific contact
      operationId: ListsContactsByListIdAndContactIdGet
      parameters:
      - description: Your contact list id you want to access.
        in: path
        name: list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      - description: Your contact id you want to access.
        in: path
        name: contact_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get a specific contact
      tags:
      - Contact
      x-accepts:
      - application/json
    put:
      description: Update specific contact
      operationId: ListsContactsByListIdAndContactIdPut
      parameters:
      - description: Contact list id
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Contact ID
        in: path
        name: contact_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
        description: Contact model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Update specific contact
      tags:
      - Contact
      x-codegen-request-body-name: contact
      x-content-type: application/json
      x-accepts:
      - application/json
  /lists/{list_id}/remove-opted-out-contacts/{opt_out_list_id}:
    put:
      description: Remove all opted out contacts
      operationId: ListsRemoveOptedOutContactsByListIdAndOptOutListIdPut
      parameters:
      - description: Your list id
        in: path
        name: list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      - description: Your opt out list id
        in: path
        name: opt_out_list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Remove all opted out contacts
      tags:
      - Contact
      x-accepts:
      - application/json
  /lists/{from_list_id}/contacts/{contact_id}/transfer/{to_list_id}:
    put:
      description: Transfer contact to another list
      operationId: ListsTransferContactPut
      parameters:
      - description: List ID for list that contains contact.
        in: path
        name: from_list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      - description: Contact ID
        in: path
        name: contact_id
        required: true
        schema:
          format: int32
          type: integer
      - description: List ID for list you want to transfer contact to.
        in: path
        name: to_list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Transfer contact to another list
      tags:
      - Contact
      x-accepts:
      - application/json
  /lists/{from_list_id}/contacts/{contact_id}/copy/{to_list_id}:
    put:
      description: Copy contact to another list
      operationId: ListsCopyContactPut
      parameters:
      - description: List ID for list that contains contact.
        in: path
        name: from_list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      - description: Contact ID
        in: path
        name: contact_id
        required: true
        schema:
          format: int32
          type: integer
      - description: List ID for list you want to copy the contact to.
        in: path
        name: to_list_id
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Copy contact to another list
      tags:
      - Contact
      x-accepts:
      - application/json
  /numbers:
    get:
      description: Get all availible dedicated numbers
      operationId: NumbersGet
      parameters:
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Get all availible dedicated numbers
      tags:
      - Number
      x-accepts:
      - application/json
  /numbers/buy/{dedicated_number}:
    post:
      description: Buy dedicated number
      operationId: NumbersBuyByDedicatedNumberPost
      parameters:
      - description: Phone number to purchase
        in: path
        name: dedicated_number
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
              schema:
                type: string
          description: METHOD_NOT_FOUND
        "429":
          content:
            application/json:
              schema:
                type: string
          description: TOO_MANY_REQUESTS
        default:
          content:
            application/json:
              schema:
                type: string
          description: INTERNAL_SERVER_ERROR
      security:
      - BasicAuth: []
      summary: Buy dedicated number
      tags:
      - Number
      x-accepts:
      - application/json
  /numbers/search/{country}:
    get:
      description: Get all dedicated numbers by country
      operationId: NumbersSearchByCountryGet
      parameters:
      - description: Country code to search
        in: path
        name: country
        required: true
        schema:
          type: string
      - description: Your search pattern or query.
        in: query
        name: search
        schema:
          type: string
      - description: "Your strategy for searching, 0 = starts with, 1 = anywhere,\
          \ 2 = ends with."
        in: query
        name: search_type
        schema:
          format: int32
          type: integer
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      - description: Number of records per page
        in: query
        name: limit
        schema:
          default: 10
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                type: string
          description: BAD_REQUEST
        "401":
          content:
            application/json:
              schema:
                type: string
          description: UNAUTHORIZED
        "403":
          content:
            application/json:
              schema:
                type: string
          description: FORBIDDEN
        "404":
          content:
            application/json:
              schema:
                type: string
          description: NOT_FOUND
        "405":
          content:
            application/json:
[...]
