openapi: 3.0.0
info:
  description: |-
    You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.

    Relevant guides: <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms" target="_blank">How many characters can I send in an SMS?</a>, <a href="https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired" target="_blank">SMS status delivery receipt expired</a>, <a href="https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text" target="_blank">Do you support non-English characters</a>, and <a href="https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions" target="_blank">Country Specific Features and Restrictions</a>.
    <div class="info-box">
      <h4><i class="fas fa-info-circle"></i> Note :</h4>
      ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href="https://www.clicksend.com/gb/help/" target="_blank">contact support</a> to apply for approval for URL messaging.
    </div>
  title: SMS
servers:
- url: https://rest.clicksend.com
tags:
- name: sms
  x-displayName: sms
- name: sms-campaigns
  x-displayName: sms-campaigns
- name: url-shortening
  x-displayName: url-shortening
- name: email-to-sms
  x-displayName: email-to-sms
- name: mms
  x-displayName: mms
- name: mms-campaigns
  x-displayName: mms-campaigns
- name: voice-messaging
  x-displayName: voice-messaging
- name: fax
  x-displayName: fax
- name: email
  x-displayName: email
- name: statistics
  x-displayName: statistics
- name: message-delivery
  x-displayName: message-delivery
- name: numbers
  x-displayName: numbers
- name: own-numbers
  x-displayName: own-numbers
- name: alpha-tags
  x-displayName: alpha-tags
- name: default-senders
  x-displayName: default-senders
- name: management
  x-displayName: management
- name: verification
  x-displayName: verification
- name: international-messaging
  x-displayName: international-messaging
- name: transactions
  x-displayName: transactions
- name: subaccounts
  x-displayName: subaccounts
- name: referrals
  x-displayName: referrals
- name: reseller
  x-displayName: reseller
- name: lists
  x-displayName: lists
- name: contacts
  x-displayName: contacts
- name: addresses
  x-displayName: addresses
- name: postcards
  x-displayName: postcards
- name: letters
  x-displayName: letters
- name: voice
  x-displayName: voice
- name: uploads
  x-displayName: uploads
paths:
  /v3/sms/send:
    post:
      description: "Use this endpoint to send messages to your recipients, either\
        \ as phone numbers or contacts from your contact list. \nThe sender of the\
        \ message (<a href=\"https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number\"\
        \ target=\"_blank\"><strong>Sender ID</strong></a>) can be a shared number,\
        \ a dedicated number, alpha tag (business name), or your own number. \nYou\
        \ can send messages both locally and globally, subject to the country restrictions.\
        \ The cost of sending messages varies based on the <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\"\
        \ target=\"_blank\">type</a> and length of the message."
      operationId: send-sms
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              basic_example:
                summary: Basic example with two messages
                value:
                  messages:
                  - source: php
                    body: Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.
                    to: "+61411111111"
                  - source: php
                    body: Chocolate bar icing icing oat cake carrot cake jelly cotton
                      MWEvciEPIr.
                    to: "+61422222222"
              smart_assign_example:
                summary: Example using senders parameter of the smart assign feature
                value:
                  senders:
                  - recipient_country_code: AU
                    sender_id: ClickSend
                  - recipient_country_code: US
                    sender_id: "+14155552345"
                  - recipient_country_code: CA
                    sender_id: "+18338611041"
                  shorten_urls: false
                  messages:
                  - body: Hello from ClickSend! This is a test message.
                    to: "+61411111111"
                  - body: Hello from ClickSend! This is another test message to US.
                    to: "+14155552345"
                    custom_string: Test message 001
                  - body: Hello from ClickSend! This is another test message to CA.
                    to: "+15142250543"
            schema:
              $ref: "#/components/schemas/send_sms_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/send-sms"
          description: Successful response
      security:
      - basicAuth: []
      summary: Send SMS
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \
               --request POST \
               --header "Content-Type: application/json" \

               --data-binary "    {
                  \"messages\":[
                      {
                          \"source\":\"php\",
                          \"body\":\"Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.\",
                          \"to\":\"+61411111111\"
                      },
                      {
                          \"source\":\"php\",
                          \"body\":\"Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.\",
                          \"to\":\"+61422222222\"
                      }
                  ]
              }" \
          'https://rest.clicksend.com/v3/sms/send'
      - lang: PHP
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n// Configure\
          \ HTTP basic authorization: BasicAuth\n$config = ClickSend\\Configuration::getDefaultConfiguration()\n\
          \              ->setUsername('USERNAME')\n              ->setPassword('API_KEY');\n\
          \n$apiInstance = new ClickSend\\Api\\SMSApi(new GuzzleHttp\\Client(),$config);\n\
          $msg = new \\ClickSend\\Model\\SmsMessage();\n$msg->setBody(\"test body\"\
          ); \n$msg->setTo(\"0451111111\");\n$msg->setSource(\"sdk\");\n\n// \\ClickSend\\\
          Model\\SmsMessageCollection | SmsMessageCollection model\n$sms_messages\
          \ = new \\ClickSend\\Model\\SmsMessageCollection(); \n$sms_messages->setMessages([$msg]);\n\
          \ntry {\n    $result = $apiInstance->smsSendPost($sms_messages);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling SMSApi->smsSendPost:\
          \ ', $e->getMessage(), PHP_EOL;\n}\n?>"
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\n\nvar listOfSms = new List<SmsMessage>\n{\n\
          \    new SmsMessage(\n        to: \"+61411111111\", \n        body: \"test\
          \ message\", \n        source: \"sdk\"\n    )\n};\n\nvar smsCollection =\
          \ new SmsMessageCollection(listOfSms);\nvar response = smsApi.SmsSendPost(smsCollection);"
      - lang: Java
        source: |-
          package ClickSend;

          import java.util.Arrays;
          import java.util.List;
          import ClickSend.Api.SmsApi;
          import ClickSend.Model.SmsMessage;
          import ClickSend.Model.SmsMessageCollection;

          public class send_sms {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);

              SmsMessage smsMessage=new SmsMessage();
              smsMessage.body("body");
              smsMessage.to("to");
              smsMessage.source("source");

              List<SmsMessage> smsMessageList=Arrays.asList(smsMessage);
              // SmsMessageCollection | SmsMessageCollection model
              SmsMessageCollection smsMessages = new SmsMessageCollection();
              smsMessages.messages(smsMessageList);
              try {
                  String result = apiInstance.smsSendPost(smsMessages);
                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsSendPost");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var smsMessage = new api.SmsMessage();

          smsMessage.source = "sdk";
          smsMessage.to = "+0451111111";
          smsMessage.body = "test message";

          var smsCollection = new api.SmsMessageCollection();

          smsCollection.messages = [smsMessage];

          smsApi.smsSendPost(smsCollection).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          # SmsMessageCollection | SmsMessageCollection model
          sms_messages = ClickSendClient::SmsMessageCollection.new

          sms_messages.messages = [
            ClickSendClient::SmsMessage.new(
              "to": "+61411111111",
              "source": "sdk",
              "body": "body"
            ),
            ClickSendClient::SmsMessage.new(
              "to": "+61422222222",
              "source": "sdk",
              "body": "body"
            )
          ]

          begin
            # Send sms message(s)
            result = api_instance.sms_send_post(sms_messages)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_send_post: #{e.response_body}"
          end
      - lang: Python
        source: |-
          from __future__ import print_function
          import clicksend_client
          from clicksend_client import SmsMessage
          from clicksend_client.rest import ApiException


          # Configure HTTP basic authorization: BasicAuth
          configuration = clicksend_client.Configuration()
          configuration.username = 'USERNAME'
          configuration.password = 'API_KEY'

          # create an instance of the API class
          api_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))

          # If you want to explictly set from, add the key _from to the message.
          sms_message = SmsMessage(source="php",
                                  body="Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.",
                                  to="+61411111111",
                                  schedule=1436874701)

          sms_messages = clicksend_client.SmsMessageCollection(messages=[sms_message])

          try:
              # Send sms message(s)
              api_response = api_instance.sms_send_post(sms_messages)
              print(api_response)
          except ApiException as e:
              print("Exception when calling SMSApi->sms_send_post: %s\n" % e)
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;
          use WWW::ClickSendClient::Object::SmsMessageCollection;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my %params = (
              'messages' => [
                  {
                      'source'        => 'perl',
                      'body'          => 'Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.',
                      'to'            => '+61411111111'
                  },
                  {
                      'source'        => 'perl',
                      'body'          => 'Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.',
                      'to'            => '+61422222222'
                  }
              ]
          );

          #You can post up to 1000 messages

          my $messages_obj = WWW::ClickSendClient::Object::SmsMessageCollection->new(%params);
          my $json_output = $api->sms_send_post('sms_messages' => $messages_obj);

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"
          #import "CSSmsMessage.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];

          CSSmsMessage *smsMessage1 = [[CSSmsMessage alloc] init];
          smsMessage1.to = @"+0451111111";
          smsMessage1.source = @"objc";
          smsMessage1.body = @"Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.";

          CSSmsMessage *smsMessage2 = [[CSSmsMessage alloc] init];
          smsMessage2.listId = @"1234";
          smsMessage2.source = @"objc";
          smsMessage2.body = @"Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.";


          CSSmsMessageCollection *smsMessageCollection = [[CSSmsMessageCollection alloc] init];
          smsMessageCollection.messages = (NSArray<CSSmsMessage> *) @[smsMessage1, smsMessage2];

          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];
          [smsAPI smsSendPostWithSmsMessages:smsMessageCollection completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: "import Alamofire\n\nif let authHeader = Request.authorizationHeader(user:\
          \ \"USERNAME\", password: \"PASSWORD\") {\n    ClickSendClientAPI.customHeaders\
          \ = [authHeader.key : authHeader.value]\n}\n\nlet message1 = SmsMessage(body:\
          \ \"Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.\"\
          , \n                        to: \"+0451111111\", \n                    \
          \    source: \"swift\")\n\nlet message2 = SmsMessage(body: \"Chocolate bar\
          \ icing icing oat cake carrot cake jelly cotton MWEvciEPIr.\", \n      \
          \                  source: \"swift\", \n                        listId:\
          \ 1234)\n\nlet smsCollection = SmsMessageCollection(messages: [message1,\
          \ message2])\nSMSAPI.smsSendPost(smsMessages: smsCollection) { (dataString,\
          \ error) in\n\n    guard let dataString = dataString else {\n        print(error!)\n\
          \        return\n    }\n\n    if let data = dataString.data(using: String.Encoding.utf8)\
          \ {\n        do {\n            if let dictonary = try (JSONSerialization.jsonObject(with:\
          \ data, options: []) as? NSDictionary) {\n                print(dictonary)\n\
          \            } else {\n                print(\"bad json\")\n           \
          \ }\n        } catch let error as NSError {\n            print(error)\n\
          \        }\n    }\n}"
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/sms/price:
    post:
      description: Use this endpoint to calculate the price of sending messages. The
        cost of sending messages varies based on the <a href="https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms"
        target="_blank">type</a> and length of the message.
      operationId: calculate-sms-price
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              basic_example:
                summary: Basic example with two messages
                value:
                  messages:
                  - source: php
                    body: Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.
                    to: "+61411111111"
                  - source: php
                    body: Chocolate bar icing icing oat cake carrot cake jelly cotton
                      MWEvciEPIr.
                    to: "+61422222222"
              smart_assign_example:
                summary: Example using senders parameter of the smart assign feature
                value:
                  senders:
                  - recipient_country_code: AU
                    sender_id: ClickSend
                  - recipient_country_code: US
                    sender_id: "+14155552345"
                  - recipient_country_code: CA
                    sender_id: "+18338611041"
                  shorten_urls: false
                  messages:
                  - body: Hello from ClickSend! This is a test message.
                    to: "+61411111111"
                  - body: Hello from ClickSend! This is another test message to US.
                    to: "+14155552345"
                    custom_string: Test message 001
                  - body: Hello from ClickSend! This is another test message to CA.
                    to: "+15142250543"
            schema:
              $ref: "#/components/schemas/calculate_sms_price_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calculate-sms-price"
          description: Successful response
      security:
      - basicAuth: []
      summary: Calculate SMS Price
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \
               --request POST \
               --header "Content-Type: application/json" \

               --data-binary "    {
                  \"messages\":[
                      {
                          \"source\":\"php\",
                          \"body\":\"Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.\",
                          \"to\":\"+61411111111\"
                      },
                      {
                          \"source\":\"php\",
                          \"body\":\"Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.\",
                          \"to\":"+61422222222"
                      }
                  ]
              }" \
          'https://rest.clicksend.com/v3/sms/price'
      - lang: PHP
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n// Configure\
          \ HTTP basic authorization: BasicAuth\n$config = ClickSend\\Configuration::getDefaultConfiguration()\n\
          \              ->setUsername('USERNAME')\n              ->setPassword('API_KEY');\n\
          \n$apiInstance = new ClickSend\\Api\\SMSApi(new GuzzleHttp\\Client(),$config);\n\
          $msg = new \\ClickSend\\Model\\SmsMessage();\n\n$msg->setBody(\"test body\"\
          ); \n$msg->setTo(\"0451111111\"); \n$msg->setSource(\"php-sdk\");\n\n//\
          \ \\ClickSend\\Model\\SmsMessageCollection | SmsMessageCollection model\n\
          $sms_messages = new \\ClickSend\\Model\\SmsMessageCollection(); \n$sms_messages->setMessages([$msg]);\n\
          \ntry {\n    $result = $apiInstance->smsPricePost($sms_messages);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling SMSApi->smsPricePost:\
          \ ', $e->getMessage(), PHP_EOL;\n}\n?>"
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\n\nvar listOfSms = new List<SmsMessage>\n{\n\
          \    new SmsMessage(\n        to: \"+61411111111\", \n        body: \"test\
          \ message\", \n        source: \"sdk\"\n    )\n};\n\nvar smsCollection =\
          \ new SmsMessageCollection(listOfSms);\nvar response = smsApi.SmsPricePost(smsCollection);"
      - lang: Java
        source: |
          package ClickSend;

          import java.util.Arrays;
          import java.util.List;
          import ClickSend.Api.SmsApi;
          import ClickSend.Model.SmsMessage;
          import ClickSend.Model.SmsMessageCollection;

          public class calculate_sms_price {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);
              SmsMessage smsMessage=new SmsMessage();
              smsMessage.body("body");
              smsMessage.to("to");
              smsMessage.source("source");

              List<SmsMessage> smsMessageList=Arrays.asList(smsMessage);
              // SmsMessageCollection | SmsMessageCollection model
              SmsMessageCollection smsMessages = new SmsMessageCollection();
              smsMessages.messages(smsMessageList);
              try {
                  String result = apiInstance.smsPricePost(smsMessages);
                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsPricePost");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var smsMessage = new api.SmsMessage();

          smsMessage.from = "myNumber";
          smsMessage.to = "+0451111111";
          smsMessage.body = "test message";

          var smsCollection = new api.SmsMessageCollection();

          smsCollection.messages = [smsMessage];

          smsApi.smsPricePost(smsCollection).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          sms_messages = ClickSendClient::SmsMessageCollection.new # SmsMessageCollection | SmsMessageCollection model

          sms_messages.messages = [
            ClickSendClient::SmsMessage.new(
              "source": "sdk",
              "to": "+61411111111",
              "body": "body"
            ),
            ClickSendClient::SmsMessage.new(
              "source": "sdk",
              "to": "+61422222222",
              "body": "body"
            )
          ]

          begin
            # Calculate sms price
            result = api_instance.sms_price_post(sms_messages)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_price_post: #{e.response_body}"
          end
      - lang: Python
        source: "from __future__ import print_function\nimport clicksend_client\n\
          from clicksend_client import SmsMessage\nfrom clicksend_client.rest import\
          \ ApiException\n\n# Configure HTTP basic authorization: BasicAuth\nconfiguration\
          \ = clicksend_client.Configuration()\nconfiguration.username = 'USERNAME'\n\
          configuration.password = 'API_KEY'\n\n# create an instance of the API class\n\
          api_instance = clicksend_client.SMSApi(\n  clicksend_client.ApiClient(configuration))\n\
          sms_message = SmsMessage(source=\"php\",\n                        body=\"\
          Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.\",\n         \
          \               to=\"+61411111111\")\n# SmsMessageCollection | SmsMessageCollection\
          \ model\nsms_messages = clicksend_client.SmsMessageCollection(messages=[sms_message])\
          \ \n\ntry:\n    # Calculate sms price\n    api_response = api_instance.sms_price_post(sms_messages)\n\
          \    print(api_response)\nexcept ApiException as e:\n    print(\"Exception\
          \ when calling SMSApi->sms_price_post: %s\\n\" % e)"
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;
          use WWW::ClickSendClient::Object::SmsMessageCollection;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my %params = (
              'messages' => [
                  {
                      'source'        => 'perl',
                      'body'          => 'Jelly liquorice marshmallow candy carrot cake 4Eyffjs1vL.',
                      'to'            => '+61411111111'
                  },
                  {
                      'source'        => 'perl',
                      'body'          => 'Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.',
                      'to'            => '+61422222222'
                  }
              ]
          );

          my $messages_obj = WWW::ClickSendClient::Object::SmsMessageCollection->new(%params);
          my $json_output = $api->sms_price_post('sms_messages' => $messages_obj);

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"
          #import "CSSmsMessage.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];

          CSSmsMessage *smsMessage1 = [[CSSmsMessage alloc] init];
          smsMessage1.to = @"+0451111111";
          smsMessage1.source = @"objc";
          smsMessage1.body = @"Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.";

          CSSmsMessage *smsMessage2 = [[CSSmsMessage alloc] init];
          smsMessage2.listId = @"1234";
          smsMessage2.source = @"objc";
          smsMessage2.body = @"Chocolate bar icing icing oat cake carrot cake jelly cotton MWEvciEPIr.";


          CSSmsMessageCollection *smsMessageCollection = [[CSSmsMessageCollection alloc] init];
          smsMessageCollection.messages = (NSArray<CSSmsMessage> *) @[smsMessage1, smsMessage2];

          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];
          [smsAPI smsPricePostWithSmsMessages:smsMessageCollection completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: "import Alamofire\n\nif let authHeader = Request.authorizationHeader(user:\
          \ \"USERNAME\", password: \"PASSWORD\") {\n    ClickSendClientAPI.customHeaders\
          \ = [authHeader.key : authHeader.value]\n}\n\nlet message1 = SmsMessage(\n\
          \    body: \"Chocolate bar icing icing oat cake carrot cake jelly cotton\
          \ MWEvciEPIr.\", \n    to: \"+0451111111\", \n    source: \"swift\"\n)\n\
          \nlet message2 = SmsMessage(\n    body: \"Chocolate bar icing icing oat\
          \ cake carrot cake jelly cotton MWEvciEPIr.\", \n    source: \"swift\",\
          \ \n    listId: 1234, \n)\n\nlet smsCollection = SmsMessageCollection(messages:\
          \ [message1, message2])\n\nSMSAPI.smsPricePost(smsMessages: smsCollection)\
          \ { (dataString, error) in\n    guard let dataString = dataString else {\n\
          \        print(error!)\n        return\n    }\n\n    if let data = dataString.data(using:\
          \ String.Encoding.utf8) {\n        do {\n            if let dictonary =\
          \ try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary)\
          \ {\n                print(dictonary)\n            } else {\n          \
          \      print(\"bad json\")\n            }\n        } catch let error as\
          \ NSError {\n            print(error)\n        }\n    }\n}"
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/sms/receipts:
    get:
      description: "Use this endpoint to retrieve <a href=\"https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\"\
        \ target=\"_blank\">SMS delivery receipts</a> sent by your recipient. \nTo\
        \ be able to view receipts, add a <a href=\"https://help.clicksend.com/en/articles/42317-delivery-notifications-reports\"\
        \ target=\"_blank\">delivery report</a> rule with the Action set to **POLL**\
        \ in the Dashboard, or use the [**Create SMS Delivery Receipt Rule**](/automations/sms/other/create-sms-delivery-receipt-rule)\
        \ endpoint. \nControl [pagination](/#pagination) with the _page_ and _limit_\
        \ query parameters to specify the page of results and the number of items\
        \ returned."
      operationId: view-sms-receipts
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - description: "The page number to retrieve. Use this parameter to navigate\
          \ through the [pagination](/#pagination) results. The default value is 1."
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: The number of items to return per page. This parameter controls
          the size of each page of results. The default value is 15.
        example: 15
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 15
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/view-sms-receipts"
          description: Successful response
      security:
      - basicAuth: []
      summary: View SMS Receipts
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \

          'https://rest.clicksend.com/v3/sms/receipts'
      - lang: PHP
        source: |-
          <?php
          require_once(__DIR__ . '/vendor/autoload.php');

          // Configure HTTP basic authorization: BasicAuth
          $config = ClickSend\Configuration::getDefaultConfiguration()
                        ->setUsername('USERNAME')
                        ->setPassword('API_KEY');

          $apiInstance = new ClickSend\Api\SMSApi(new GuzzleHttp\Client(),$config);
          $page = 1; // int | Page number
          $limit = 10; // int | Number of records per page

          try {
              $result = $apiInstance->smsReceiptsGet($page, $limit);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling SMSApi->smsReceiptsGet: ', $e->getMessage(), PHP_EOL;
          }
          ?>
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\nvar response = smsApi.SmsReceiptsGet();"
      - lang: Java
        source: |-
          package ClickSend;

          import ClickSend.Api.SmsApi;

          public class view_all_sms_receipt {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);
              Integer page = 1; // Integer | Page number
              Integer limit = 10; // Integer | Number of records per page
              try {
                  String result = apiInstance.smsReceiptsGet(page, limit);
                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsReceiptsGet");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var page = 1;
          var limit = 10;

          smsApi.smsReceiptsGet(page, limit).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          ClickSendClient.configure do |config|
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          opts = {
            page: 1,  # Integer | Page number
            limit: 10 # Integer | Number of records per page
          }

          begin
            # Get all delivery receipts
            result = api_instance.sms_receipts_get(opts)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_receipts_get: #{e.response_body}"
          end
      - lang: Python
        source: |-
          from __future__ import print_function
          import clicksend_client
          from clicksend_client.rest import ApiException

          # Configure HTTP basic authorization: BasicAuth
          configuration = clicksend_client.Configuration()
          configuration.username = 'USERNAME'
          configuration.password = 'API_KEY'

          # create an instance of the API class
          api_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))
          page = 1 # int | Page number (optional) (default to 1)
          limit = 10 # int | Number of records per page (optional) (default to 10)

          try:
              # Get all delivery receipts
              api_response = api_instance.sms_receipts_get(page=page, limit=limit)
              print(api_response)
          except ApiException as e:
              print("Exception when calling SMSApi->sms_receipts_get: %s\n" % e)
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my $json_output = $api->sms_receipts_get('page' => '1', 'limit' => '1');

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];

          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];
          [smsAPI smsReceiptsGetWithPage:@(1) limit:@(15) completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: |-
          import Alamofire

          if let authHeader = Request.authorizationHeader(user: "USERNAME", password: "PASSWORD") {
              ClickSendClientAPI.customHeaders = [authHeader.key : authHeader.value]
          }

          SMSAPI.smsReceiptsGet(page: 1, limit: 15) { (dataString, error) in
              guard let dataString = dataString else {
                  print(error!)
                  return
              }

              if let data = dataString.data(using: String.Encoding.utf8) {
                  do {
                      if let dictonary = try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary) {
                          print(dictonary)
                      } else {
                          print("bad json")
                      }
                  } catch let error as NSError {
                      print(error)
                  }
              }
          }
      x-accepts:
      - application/json
    post:
      description: |-
        Use this endpoint to generate and send a test <a href="https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates" target="_blank">SMS delivery receipt</a> to your webhook URL. When you send an SMS, a delivery receipt is generated and can be received at your webhook URL. This test endpoint allows you to verify that the receipt is correctly sent to your webhook URL.

        Additionally, you can obtain SMS receipts by setting the webhook URL to **poll** and periodically calling the **View SMS Receipt** endpoint to check for new receipts. This process is known as _polling_.
      operationId: create-test-sms-receipt
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_test_sms_receipt_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create-test-sms-receipt"
          description: Successful response
      security:
      - basicAuth: []
      summary: Create Test SMS Receipt
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \
               --request POST \

               --header "Content-Type: application/json" \
               --data-binary "    {
                  \"url\":\"http://yourdomain.com\"
              }" \
          'https://rest.clicksend.com/v3/sms/receipts'
      - lang: PHP
        source: |-
          <?php
          require_once(__DIR__ . '/vendor/autoload.php');

          // Configure HTTP basic authorization: BasicAuth
          $config = ClickSend\Configuration::getDefaultConfiguration()
                        ->setUsername('USERNAME')
                        ->setPassword('API_KEY');

          $apiInstance = new ClickSend\Api\SMSApi(new GuzzleHttp\Client(),$config);
          $url = new \ClickSend\Model\Url(); // \ClickSend\Model\Url | Url model
          $url->setUrl("http://example.com");

          try {
              $result = $apiInstance->smsReceiptsPost($url);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling SMSApi->smsReceiptsPost: ', $e->getMessage(), PHP_EOL;
          }
          ?>
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\nvar response = smsApi.SmsReceiptsPost(new\
          \ Url(\"http://domain.com\"));"
      - lang: Java
        source: |
          package ClickSend;

          import ClickSend.Api.SmsApi;
          import ClickSend.Model.Url;

          public class create_sms_receipt {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);
              Url url = new Url(); // Url | Url model
              url.url("http://www.example.com");
              try {
                  String result = apiInstance.smsReceiptsPost(url);
                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsReceiptsPost");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var payload = new api.Url;

          payload.url = "http://example.com";

          smsApi.smsReceiptsPost(payload).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          # Url | Url model
          url = ClickSendClient::Url.new(
            url: "http://yourdomain.com"
          )

          begin
            # Add a delivery receipt
            result = api_instance.sms_receipts_post(url)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_receipts_post: #{e.response_body}"
          end
      - lang: Python
        source: |-
          from __future__ import print_function
          import clicksend_client
          from clicksend_client.rest import ApiException

          # Configure HTTP basic authorization: BasicAuth
          configuration = clicksend_client.Configuration()
          configuration.username = 'USERNAME'
          configuration.password = 'API_KEY'

          # create an instance of the API class
          api_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))
          url = 'https://www.example.com' # str | Your url

          try:
              # Add a delivery receipt
              api_response = api_instance.sms_receipts_post({"url" : url})
              print(api_response)
          except ApiException as e:
              print("Exception when calling SMSApi->sms_receipts_post: %s\n" % e)
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my $url = WWW::ClickSendClient::Object::Url->new('http://yourdomain.com');

          my $json_output = $api->sms_receipts_post($url);

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];

          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];
          CSUrl *csUrl = [[CSUrl alloc] init];
          csUrl.url = @"https://rest.clicksend.com/v3/sms/receipts";

          [smsAPI smsReceiptsPostWithUrl:csUrl completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: |-
          import Alamofire

          if let authHeader = Request.authorizationHeader(user: "USERNAME", password: "PASSWORD") {
              ClickSendClientAPI.customHeaders = [authHeader.key : authHeader.value]
          }

          let url = Url(url: "https://rest.clicksend.com/v3/sms/receipts")
          SMSAPI.smsReceiptsPost(url: url) { (dataString, error) in
              guard let dataString = dataString else {
                  print(error!)
                  return
              }

              if let data = dataString.data(using: String.Encoding.utf8) {
                  do {
                      if let dictonary = try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary) {
                          print(dictonary)
                      } else {
                          print("bad json")
                      }
                  } catch let error as NSError {
                      print(error)
                  }
              }
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/sms/receipts/{message_id}:
    get:
      description: "Use this endpoint to retrieve a specific <a href=\"https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\"\
        \ target=\"_blank\">SMS delivery receipt</a>, including those that have been\
        \ marked as read. When you send an SMS, a delivery receipt is generated and\
        \ can be received. \nThis endpoint enables you to retrieve those receipts."
      operationId: view-specific-sms-receipt
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - description: The _message_id_ of the SMS delivery receipt to retrieve
        explode: false
        in: path
        name: message_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/view-specific-sms-receipt"
          description: Successful response
      security:
      - basicAuth: []
      summary: View Specific SMS Receipt
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \

          'https://rest.clicksend.com/v3/sms/receipts/{message_id}'
      - lang: PHP
        source: |-
          <?php
          require_once(__DIR__ . '/vendor/autoload.php');

          // Configure HTTP basic authorization: BasicAuth
          $config = ClickSend\Configuration::getDefaultConfiguration()
                        ->setUsername('USERNAME')
                        ->setPassword('API_KEY');

          $apiInstance = new ClickSend\Api\SMSApi(new GuzzleHttp\Client(),$config);
          $message_id = "messageId_example"; // string | Message ID

          try {
              $result = $apiInstance->smsReceiptsByMessageIdGet($message_id);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling SMSApi->smsReceiptsByMessageIdGet: ', $e->getMessage(), PHP_EOL;
          }
          ?>
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\nvar response = smsApi.SmsReceiptsByMessageIdGet(\"\
          MESSAGE_ID\");"
      - lang: Java
        source: |-
          package ClickSend;

          import ClickSend.Api.SmsApi;

          public class view_specific_sms_receipt {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);
              String messageId = "message_id"; // String | Message ID
              try {
                  String result = apiInstance.smsReceiptsByMessageIdGet(messageId);
                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsReceiptsByMessageIdGet");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var messageId = "message_id";

          smsApi.smsReceiptsByMessageIdGet(messageId).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          message_id = "56A3964A-DC7D-4455-B56C-101F7A0D86DF" # String | Message ID

          begin
            # Get a Specific Delivery Receipt
            result = api_instance.sms_receipts_by_message_id_get(message_id)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_receipts_by_message_id_get: #{e.response_body}"
          end
      - lang: Python
        source: |-
          from __future__ import print_function
          import clicksend_client
          from clicksend_client.rest import ApiException

          # Configure HTTP basic authorization: BasicAuth
          configuration = clicksend_client.Configuration()
          configuration.username = 'USERNAME'
          configuration.password = 'API_KEY'

          # create an instance of the API class
          api_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))
          message_id = 'message_id' # str | Message ID

          try:
              # Get a Specific Delivery Receipt
              api_response = api_instance.sms_receipts_by_message_id_get(message_id)
              print(api_response)
          except ApiException as e:
              print("Exception when calling SMSApi->sms_receipts_by_message_id_get: %s\n" % e)
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my $json_output = $api->sms_receipts_by_message_id_get('message_id' => 'XXX-XXXXXXX-XXXXX-XXXXX-XXXXXX');

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];


          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];
          [apiInstance smsReceiptsByMessageIdGetWithMessageId:@"{message_id}" completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: |-
          import Alamofire

          if let authHeader = Request.authorizationHeader(user: "USERNAME", password: "PASSWORD") {
              ClickSendClientAPI.customHeaders = [authHeader.key : authHeader.value]
          }

          SMSAPI.smsReceiptsByMessageIdGet(messageId: "{message_id}") { (dataString, error) in
              guard let dataString = dataString else {
                  print(error!)
                  return
              }

              if let data = dataString.data(using: String.Encoding.utf8) {
                  do {
                      if let dictonary = try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary) {
                          print(dictonary)
                      } else {
                          print("bad json")
                      }
                  } catch let error as NSError {
                      print(error)
                  }
              }
          }
      x-accepts:
      - application/json
  /v3/sms/receipts-read:
    put:
      description: "Use this endpoint to mark all <a target=\"_blank\" href=\"https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\"\
        >SMS delivery receipts</a> as read. Delivery receipts that have been marked\
        \ as read won’t be shown in the **View SMS Receipts** endpoint. \nYou can\
        \ still use the **View Specific SMS Receipt** endpoint to view delivery receipts\
        \ marked as read. In the request, you can optionally add a _date_before_ parameter\
        \ to only mark receipts sent before that date as read"
      operationId: mark-sms-receipt-as-read
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mark_sms_receipt_as_read_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mark-sms-receipt-as-read"
          description: Successful response
      security:
      - basicAuth: []
      summary: Mark SMS Receipt As Read
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \
               --request PUT \

               --header "Content-Type: application/json" \
               --data-binary "{
              \"date_before\": 1441958441
          }" \
          'https://rest.clicksend.com/v3/sms/receipts-read'
      - lang: PHP
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n// Configure\
          \ HTTP basic authorization: BasicAuth\n$config = ClickSend\\Configuration::getDefaultConfiguration()\n\
          \              ->setUsername('USERNAME')\n              ->setPassword('API_KEY');\n\
          \n$apiInstance = new ClickSend\\Api\\SMSApi(new GuzzleHttp\\Client(),$config);\n\
          // \\ClickSend\\Model\\DateBefore | DateBefore model\n$date_before = new\
          \ \\ClickSend\\Model\\DateBefore(); \n$date_before->setDateBefore(\"2018-01-01\"\
          );\n\ntry {\n    $result = $apiInstance->smsReceiptsReadPut($date_before);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling SMSApi->smsReceiptsReadPut: ', $e->getMessage(), PHP_EOL;\n}\n\
          ?>"
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\nvar response = smsApi.SmsReceiptsReadPut(new\
          \ DateBefore(TIME_STAMP));"
      - lang: Java
        source: |-
          package ClickSend;

          import java.math.BigDecimal;
          import ClickSend.Api.SmsApi;
          import ClickSend.Model.DateBefore;

          public class mark_sms_receipt_as_read {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);
              DateBefore dateBefore = new DateBefore(); // DateBefore | DateBefore model
              dateBefore.dateBefore(new BigDecimal(1441958441));
              try {
                  String result = apiInstance.smsReceiptsReadPut(dateBefore);

                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsReceiptsReadPut");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var dateBefore = new api.DateBefore();

          dateBefore.dateBefore = 1545477061;

          smsApi.smsReceiptsReadPut(dateBefore).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          opts = {
            "date_before": "1543604472" # String | Mark all as read before this timestamp
          }

          begin
            # Mark delivery receipts as read
            result = api_instance.sms_receipts_read_put(opts)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_receipts_read_put: #{e.response_body}"
          end
      - lang: Python
        source: "from __future__ import print_function\nimport clicksend_client\n\
          from clicksend_client.rest import ApiException\n\n# Configure HTTP basic\
          \ authorization: BasicAuth\nconfiguration = clicksend_client.Configuration()\n\
          configuration.username = 'USERNAME'\nconfiguration.password = 'API_KEY'\n\
          \n# create an instance of the API class\napi_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))\n\
          # str | Mark all as read before this timestamp (optional)\ndate_before =\
          \ 'date_before_example' \n\ntry:\n    # Mark delivery receipts as read\n\
          \    api_response = api_instance.sms_receipts_read_put(date_before=date_before)\n\
          \    print(api_response)\nexcept ApiException as e:\n    print(\"Exception\
          \ when calling SMSApi->sms_receipts_read_put: %s\\n\" % e)"
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my $json_output = $api->sms_receipts_read_put(WWW::ClickSendClient::Object::DateBefore->new(TIME_STAMP));

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"
          #import "CSDateBefore.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];

          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];

          CSDateBefore *dateBefore = [[CSDateBefore alloc] init];

          [smsAPI smsReceiptsReadPutWithDateBefore:dateBefore completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: |-
          import Alamofire

          if let authHeader = Request.authorizationHeader(user: "USERNAME", password: "PASSWORD") {
              ClickSendClientAPI.customHeaders = [authHeader.key : authHeader.value]
          }

          SMSAPI.smsReceiptsReadPut(dateBefore: nil) { (dataString, error) in
          guard let dataString = dataString else {
              print(error!)
              return
          }

          if let data = dataString.data(using: String.Encoding.utf8) {
              do {
                  if let dictonary = try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary) {
                      print(dictonary)
                  } else {
                      print("bad json")
                  }
                  } catch let error as NSError {
                      print(error)
                  }
              }
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/sms/inbound:
    get:
      description: "Use this endpoint to retrieve <a href=\"https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\"\
        \ target=\"_blank\">SMS delivery receipts</a> sent by your recipient. \nTo\
        \ be able to view receipts, add a <a href=\"https://help.clicksend.com/article/ut4ttdrrai-incoming-reply-sms-options\"\
        >inbound rule</a> with the Action set to **POLL** in the Dashboard, or use\
        \ the [**Create SMS Inbound Automation**](/automations/sms/other/create-sms-inbound-automation)\
        \ endpoint. \nControl [pagination](/#pagination) with the _page_ and _limit_\
        \ query parameters to specify the page of results and the number of items\
        \ returned.\n\n<div class=\"info-box\">\n  <h4><i class=\"fas fa-info-circle\"\
        ></i> Note:</h4>\n  <p>If you have multiple inbound rules set to <strong>POLL</strong>,\
        \ you will receive the inbound message multiple times.</p>\n</div>"
      operationId: view-inbound-sms
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - description: "The page number to retrieve. Use this parameter to navigate\
          \ through the [pagination](/#pagination) results. The default value is 1."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          type: integer
        style: form
      - description: The number of items to return per page. This parameter controls
          the size of each page of results. The default value is 15.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 15
          example: 15
          maximum: 100
          minimum: 15
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/view-inbound-sms"
          description: Successful response
      security:
      - basicAuth: []
      summary: View Inbound SMS
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \

          'https://rest.clicksend.com/v3/sms/inbound'
      - lang: PHP
        source: |-
          <?php
          require_once(__DIR__ . '/vendor/autoload.php');

          // Configure HTTP basic authorization: BasicAuth
          $config = ClickSend\Configuration::getDefaultConfiguration()
                        ->setUsername('USERNAME')
                        ->setPassword('API_KEY');

          $apiInstance = new ClickSend\Api\SMSApi(new GuzzleHttp\Client(),$config);
          $q = "q_example"; // string | Your keyword or query.
          $page = 1; // int | Page number
          $limit = 10; // int | Number of records per page

          try {
              $result = $apiInstance->smsInboundGet($q, $page, $limit);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling SMSApi->smsInboundGet: ', $e->getMessage(), PHP_EOL;
          }
          ?>
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\n\nvar smsApi\
          \ = new SMSApi(configuration);\n\nvar q = \"q_example\";\nvar page = 1;\n\
          var limit = 10;\n\nvar response = smsApi.SmsInboundGet(q, page, limit);"
      - lang: Java
        source: |-
          package ClickSend;

          import ClickSend.Api.SmsApi;

          public class view_inbound_sms {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);
              String q = "q_example"; // String | Your keyword or query
              Integer page = 1; // Integer | Page number
              Integer limit = 10; // Integer | Number of records per page
              try {
                String result = apiInstance.smsInboundGet(q, page, limit);
                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsInboundGet");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var q = "q_example";
          var page = 1;
          var limit = 10;

          smsApi.smsInboundGet(q, page, limit).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          opts = {
            page: 1,  # Integer | Page number
            limit: 10 # Integer | Number of records per page
          }

          begin
            # Get all inbound sms
            result = api_instance.sms_inbound_get(opts)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_inbound_get: #{e.response_body}"
          end
      - lang: Python
        source: |-
          from __future__ import print_function
          import clicksend_client
          from clicksend_client.rest import ApiException

          # Configure HTTP basic authorization: BasicAuth
          configuration = clicksend_client.Configuration()
          configuration.username = 'USERNAME'
          configuration.password = 'API_KEY'

          # create an instance of the API class
          api_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))
          page = 1 # int | Page number (optional) (default to 1)
          limit = 10 # int | Number of records per page (optional) (default to 10)

          try:
              # Get all inbound sms
              api_response = api_instance.sms_inbound_get(page=page, limit=limit)
              print(api_response)
          except ApiException as e:
              print("Exception when calling SMSApi->sms_inbound_get: %s\n" % e)
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my $json_output = $api->sms_inbound_get('page' => '1', 'limit' => '3');

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];

          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];

          [smsAPI smsInboundGetWithQ:@"" page:@(1) limit:@(15) completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: |-
          import Alamofire

          if let authHeader = Request.authorizationHeader(user: "USERNAME", password: "PASSWORD") {
              ClickSendClientAPI.customHeaders = [authHeader.key : authHeader.value]
          }

          SMSAPI.smsInboundGet { (dataString, error) in
              guard let dataString = dataString else {
                  print(error!)
                  return
              }

              if let data = dataString.data(using: String.Encoding.utf8) {
                  do {
                      if let dictonary = try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary) {
                          print(dictonary)
                      } else {
                          print("bad json")
                      }
                  } catch let error as NSError {
                      print(error)
                  }
              }
          }
      x-accepts:
      - application/json
    post:
      description: "Use this endpoint to generate and send a test <a href=\"https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\"\
        \ target=\"_blank\">inbound SMS</a> to your webhook URL. Inbound SMS are messages\
        \ sent by your recipient to you. \nThis test endpoint allows you to verify\
        \ that the inbound SMS is correctly sent to your webhook URL."
      operationId: create-test-inbound-sms
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_test_inbound_sms_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create-test-inbound-sms"
          description: Successful response
      security:
      - basicAuth: []
      summary: Create Test Inbound SMS
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \
               --request POST \

               --header "Content-Type: application/json" \
               --data-binary "    {
                  \"url\":\"http://yourdomain.com\"
              }" \
          'https://rest.clicksend.com/v3/sms/inbound'
      - lang: PHP
        source: |-
          <?php
          require_once(__DIR__ . '/vendor/autoload.php');

          // Configure HTTP basic authorization: BasicAuth
          $config = ClickSend\Configuration::getDefaultConfiguration()
                        ->setUsername('USERNAME')
                        ->setPassword('API_KEY');

          $apiInstance = new ClickSend\Api\SMSApi(new GuzzleHttp\Client(),$config);
          $url = new \ClickSend\Model\Url(); // \ClickSend\Model\Url | Url model
          $url->setUrl("http://example.com");

          try {
              $result = $apiInstance->smsInboundPost($url);
              print_r($result);
          } catch (Exception $e) {
              echo 'Exception when calling SMSApi->smsInboundPost: ', $e->getMessage(), PHP_EOL;
          }
          ?>
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\nvar response = smsApi.SmsInboundPost(new Url(\"\
          https://yourdomain.com\"));"
      - lang: Java
        source: |-
          package ClickSend;

          import ClickSend.Api.SmsApi;
          import ClickSend.Model.Url;

          public class create_inbound_sms {
            public static void main(String[] args) {
              ApiClient defaultClient = new ApiClient();
              defaultClient.setUsername("USERNAME");
              defaultClient.setPassword("API_KEY");
              SmsApi apiInstance = new SmsApi(defaultClient);
              Url url = new Url(); // Url | Url model
              url.url("http://www.example.com");
              try {
                  String result = apiInstance.smsInboundPost(url);
                  System.out.println(result);
              } catch (ApiException e) {
                  System.err.println("Exception when calling SmsApi#smsInboundPost");
                  e.printStackTrace();
              }
            }
          }
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var payload = new api.Url;

          payload.url = "http://example.com";

          smsApi.smsInboundPost(payload).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          # Url | Url model
          url = ClickSendClient::Url.new(
            url: "http://yourdomain.com"
          )

          begin
            # Create inbound sms
            result = api_instance.sms_inbound_post(url)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_inbound_post: #{e.response_body}"
          end
      - lang: Python
        source: |-
          from __future__ import print_function
          import clicksend_client
          from clicksend_client.rest import ApiException

          # Configure HTTP basic authorization: BasicAuth
          configuration = clicksend_client.Configuration()
          configuration.username = 'USERNAME'
          configuration.password = 'API_KEY'

          # create an instance of the API class
          api_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))
          url = 'http://www.example.com' # str | Your url
          payload = {"url" : url}

          try:
              # Create inbound sms
              api_response = api_instance.sms_inbound_post(payload)
              print(api_response)
          except ApiException as e:
              print("Exception when calling SMSApi->sms_inbound_post: %s\n" % e)
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my $json_output = $api->sms_inbound_post('url' => 'http://yourdomain.com');

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"
          #import "CSUrl.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];

          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];

          CSUrl *csUrl = [[CSUrl alloc] init];
          csUrl.url = @"http://yourdomain.com";

          [smsAPI smsInboundPostWithUrl:csUrl completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: |-
          import Alamofire

          if let authHeader = Request.authorizationHeader(user: "USERNAME", password: "PASSWORD") {
              ClickSendClientAPI.customHeaders = [authHeader.key : authHeader.value]
          }

          let url = Url(url: "https://yourdomiansample.com")
          SMSAPI.smsInboundPost(url: url) { (dataString, error) in
              guard let dataString = dataString else {
                  print(error!)
                  return
              }

              if let data = dataString.data(using: String.Encoding.utf8) {
                  do {
                      if let dictonary = try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary) {
                          print(dictonary)
                      } else {
                          print("bad json")
                      }
                  } catch let error as NSError {
                      print(error)
                  }
              }
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/sms/inbound/{original_message_id}:
    get:
      description: "Use this endpoint to retrieve a specific inbound SMS, including\
        \ those that have been marked as read. \nInbound SMS are messages sent by\
        \ your recipient to you. This endpoint enables you to retrieve those inbound\
        \ SMS."
      operationId: view-a-specific-inbound-sms-message
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          The _original_message_id_ of the inbound SMS to view. If the recipient replied with multiple messages, this endpoint returns the first inbound SMS received.

          <div class="info-box">
            <h4><i class="fas fa-info-circle"></i> Note:</h4>
            <p>
              When you receive an inbound message, you will get two parameters: <em>original_message_id</em> and <em>message_id</em>:
            </p>
            <ul>
              <li><em>original_message_id</em>: This is the ID of the outbound message sent to the recipient</li>
              <li><em>message_id</em>: This is the ID of the inbound message sent by the recipient.</li>
            </ul>
          </div>
        explode: false
        in: path
        name: original_message_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/view-a-specific-inbound-sms-message"
          description: Successful response
      security:
      - basicAuth: []
      summary: View a specific inbound SMS message
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |
          curl --location 'https://rest.clicksend.com/v3/sms/inbound/{original_message_id}' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: API_KEY'
      - lang: PHP
        source: |
          <?php
          require_once 'HTTP/Request2.php';
          $request = new HTTP_Request2();
          $request->setUrl('https://rest.clicksend.com/v3/sms/inbound/{original_message_id');
          $request->setMethod(HTTP_Request2::METHOD_GET);
          $request->setConfig(array(
              'follow_redirects' => TRUE
          ));
          $request->setHeader(array(
              'Content-Type' => 'application/json',
              'Authorization' => 'API_KEY'
          ));
          try {
              $response = $request->send();
              if ($response->getStatus() == 200) {
                  echo $response->getBody();
              } else {
                  echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
                      $response->getReasonPhrase();
              }
          } catch (HTTP_Request2_Exception $e) {
              echo 'Error: ' . $e->getMessage();
          }
      - lang: C#
        source: |
          var client = new HttpClient();
          var request = new HttpRequestMessage(HttpMethod.Get, "https://rest.clicksend.com/v3/sms/inbound/{original_message_id");
          request.Headers.Add("Authorization", "API_KEY");
          var content = new StringContent(string.Empty);
          content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
          request.Content = content;
          var response = await client.SendAsync(request);
          response.EnsureSuccessStatusCode();
          Console.WriteLine(await response.Content.ReadAsStringAsync());
      - lang: Java
        source: |-
          const myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/json");
          myHeaders.append("Authorization", "API_KEY");

          const requestOptions = {
            method: "GET",
            headers: myHeaders,
            redirect: "follow"
          };

          fetch("https://rest.clicksend.com/v3/sms/inbound/{original_message_id}", requestOptions)
            .then((response) => response.text())
            .then((result) => console.log(result))
            .catch((error) => console.error(error));
      - lang: Node.js
        source: |
          var request = require("request");
          var options = {
            method: "GET",
            url: "https://rest.clicksend.com/v3/sms/inbound/{original_message_id}",
            headers: {
              "Content-Type": "application/json",
              Authorization: "API_KEY",
            },
          };
          request(options, function (error, response) {
            if (error) throw new Error(error);
            console.log(response.body);
          });
      - lang: Ruby
        source: |-
          require "uri"
          require "json"
          require "net/http"

          url = URI("https://rest.clicksend.com/v3/sms/inbound/{original_message_id}")

          https = Net::HTTP.new(url.host, url.port)
          https.use_ssl = true

          request = Net::HTTP::Get.new(url)
          request["Content-Type"] = "application/json"
          request["Authorization"] = "API_KEY"

          response = https.request(request)
          puts response.read_body
      - lang: Python
        source: |-
          import http.client
          import json

          conn = http.client.HTTPSConnection("rest.clicksend.com")
          payload = ''
          headers = {
            'Content-Type': 'application/json',
            'Authorization': 'API_KEY'
          }
          conn.request("GET", "/v3/sms/inbound/{original_message_id}", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: objc
        source: |
          #import <Foundation/Foundation.h>

          dispatch_semaphore_t sema = dispatch_semaphore_create(0);

          NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://rest.clicksend.com/v3/sms/inbound/%7Boriginal_message_id%7D"]
            cachePolicy:NSURLRequestUseProtocolCachePolicy
            timeoutInterval:10.0];
          NSDictionary *headers = @{
            @"Content-Type": @"application/json",
            @"Authorization": @"API_KEY"
          };

          [request setAllHTTPHeaderFields:headers];

          [request setHTTPMethod:@"GET"];

          NSURLSession *session = [NSURLSession sharedSession];
          NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
          completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
            if (error) {
              NSLog(@"%@", error);
              dispatch_semaphore_signal(sema);
            } else {
              NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
              NSError *parseError = nil;
              NSDictionary *responseDictionary = [NSJSONSerialization JSONObjectWithData:data options:0 error:&parseError];
              NSLog(@"%@",responseDictionary);
              dispatch_semaphore_signal(sema);
            }
          }];
          [dataTask resume];
          dispatch_semaphore_wait(sema, DISPATCH_TIME_FOREVER);
      - lang: swift
        source: "var request = URLRequest(url: URL(string: \"https://rest.clicksend.com/v3/sms/inbound/{original_message_id}\"\
          )!,timeoutInterval: Double.infinity)\nrequest.addValue(\"application/json\"\
          , forHTTPHeaderField: \"Content-Type\")\nrequest.addValue(\"API_KEY\", forHTTPHeaderField:\
          \ \"Authorization\")\n\nrequest.httpMethod = \"GET\"\n\nlet task = URLSession.shared.dataTask(with:\
          \ request) { data, response, error in \n  guard let data = data else {\n\
          \    print(String(describing: error))\n    return\n  }\n  print(String(data:\
          \ data, encoding: .utf8)!)\n}\n\ntask.resume()"
      x-accepts:
      - application/json
  /v3/sms/inbound-read:
    put:
      description: "Use this endpoint to mark all <a href=\"https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\"\
        \ target=\"_blank\">inbound SMS</a> as read. Inbound SMS that has been marked\
        \ as read won’t be shown in the **View Inbound SMS** endpoint. You can still\
        \ use the **View Specific Inbound SMS** endpoint to view inbound SMS marked\
        \ as read. \nIn the request, you can optionally add a _date_before_ parameter\
        \ to only mark inbound SMS sent before that date as read."
      operationId: mark-inbound-sms-as-read
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mark_sms_receipt_as_read_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mark-inbound-sms-as-read"
          description: Successful response
      security:
      - basicAuth: []
      summary: Mark Inbound SMS as Read
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \
               --request PUT \

               --header "Content-Type: application/json" \
               --data-binary "    {
                  \"date_before\":1442398100
              }" \
          'https://rest.clicksend.com/v3/sms/inbound-read'
      - lang: PHP
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n// Configure\
          \ HTTP basic authorization: BasicAuth\n$config = ClickSend\\Configuration::getDefaultConfiguration()\n\
          \              ->setUsername('USERNAME')\n              ->setPassword('API_KEY');\n\
          \n$apiInstance = new ClickSend\\Api\\SMSApi(new GuzzleHttp\\Client(),$config);\n\
          // \\ClickSend\\Model\\DateBefore | DateBefore model\n$date_before = new\
          \ \\ClickSend\\Model\\DateBefore(); \n$date_before->setDateBefore(\"2019-01-01\"\
          );\n\ntry {\n    $result = $apiInstance->smsInboundReadPut($date_before);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling SMSApi->smsInboundReadPut: ', $e->getMessage(), PHP_EOL;\n}\n\
          ?>"
      - lang: C#
        source: "using IO.ClickSend.ClickSend.Api;\nusing IO.ClickSend.Client;\nusing\
          \ IO.ClickSend.ClickSend.Model;\n\nvar configuration = new Configuration()\n\
          {\n    Username = USERNAME, \n    Password = API_KEY  \n};\nvar smsApi =\
          \ new SMSApi(configuration);\nvar response = smsApi.SmsInboundReadPut(TIME_STAMP);"
      - lang: Java
        source: "package ClickSend;\n\nimport java.math.BigDecimal;\nimport ClickSend.Api.SmsApi;\n\
          import ClickSend.Model.DateBefore;\n\npublic class mark_inbound_sms_as_read\
          \ {\n  public static void main(String[] args) {\n    ApiClient defaultClient\
          \ = new ApiClient();\n    defaultClient.setUsername(\"USERNAME\");\n   \
          \ defaultClient.setPassword(\"API_KEY\");\n    SmsApi apiInstance = new\
          \ SmsApi(defaultClient);\n    DateBefore dateBefore = new DateBefore();\
          \ // DateBefore | DateBefore model\n    dateBefore.dateBefore(new BigDecimal(1441958441));\n\
          \    try {\n        String result = apiInstance.smsInboundReadPut(dateBefore);\n\
          \        System.out.println(result);\n    } catch (ApiException e) {\n \
          \       System.err.println(\"Exception when calling SmsApi#smsInboundReadPut\"\
          );\n        e.printStackTrace();\n    } \n  }\n}"
      - lang: Node.js
        source: |-
          var api = require('./api.js');

          var smsApi = new api.SMSApi("USERNAME", "API_KEY");

          var messageId = "message_id";

          smsApi.smsInboundReadByMessageIdPut(messageId).then(function(response) {
            console.log(response.body);
          }).catch(function(err){
            console.error(err.body);
          });
      - lang: Ruby
        source: |-
          # load the gem
          require 'clicksend_client'
          require 'json'

          # setup authorization
          ClickSendClient.configure do |config|
            # Configure HTTP basic authorization: BasicAuth
            config.username = 'USERNAME'
            config.password = 'API_KEY'
          end

          api_instance = ClickSendClient::SMSApi.new

          opts = {
            # Integer | An optional timestamp - mark all as read before this timestamp.
            # If not given, all messages will be marked as read.
            "date_before": "1543606584"
          }

          begin
            # Mark inbound SMS as read
            result = api_instance.sms_inbound_read_put(opts)
            p JSON.parse(result)
          rescue ClickSendClient::ApiError => e
            puts "Exception when calling SMSApi->sms_inbound_read_put: #{e.response_body}"
          end
      - lang: Python
        source: "from __future__ import print_function\nimport clicksend_client\n\
          from clicksend_client.rest import ApiException\n\n# Configure HTTP basic\
          \ authorization: BasicAuth\nconfiguration = clicksend_client.Configuration()\n\
          configuration.username = 'USERNAME'\nconfiguration.password = 'API_KEY'\n\
          \n# create an instance of the API class\napi_instance = clicksend_client.SMSApi(clicksend_client.ApiClient(configuration))\n\
          date_before = 'date_before_example' \n# str | An optional timestamp - mark\
          \ all as read before this timestamp.\n# If not given, all messages will\
          \ be marked as read. (optional)\n\ntry:\n    # Mark inbound SMS as read\n\
          \    api_response = api_instance.sms_inbound_read_put(date_before=date_before)\n\
          \    print(api_response)\nexcept ApiException as e:\n    print(\"Exception\
          \ when calling SMSApi->sms_inbound_read_put: %s\\n\" % e)"
      - lang: perl
        source: |-
          use WWW::ClickSendClient::SMSApi;

          my $username = 'YOUR_API_USER_NAME';
          my $password = 'YOUR_API_PASSWORD';

          my $api = WWW::ClickSendClient::SMSApi->new(username => $username, password => $password);

          my $json_output = $api->sms_inbound_read_put('date_before' => 1442398100);

          print $json_output;
      - lang: objc
        source: |-
          #import "CSSMSApi.h"
          #import "CSDateBefore.h"

          CSDefaultConfiguration *apiConfig = [CSDefaultConfiguration sharedConfig];
          // Configure HTTP basic authorization (authentication scheme: BasicAuth)
          [apiConfig setUsername:@"YOUR_USERNAME"];
          [apiConfig setPassword:@"YOUR_PASSWORD"];


          CSSMSApi *smsAPI = [[CSSMSApi alloc] init];

          CSDateBefore *dateBefore = [[CSDateBefore alloc] init];

          [smsAPI smsInboundReadPutWithDateBefore:dateBefore completionHandler:^(NSString *output, NSError *error) {
              if (error) {
                  NSLog(@"Error: %@", error);
              } else {
                  NSLog(@"%@", output);
              }
          }];
      - lang: swift
        source: |-
          import Alamofire

          if let authHeader = Request.authorizationHeader(user: "USERNAME", password: "PASSWORD") {
              ClickSendClientAPI.customHeaders = [authHeader.key : authHeader.value]
          }

          SMSAPI.smsInboundReadPut { (dataString, error) in
              guard let dataString = dataString else {
                  print(error!)
                  return
              }

              if let data = dataString.data(using: String.Encoding.utf8) {
                  do {
                      if let dictonary = try (JSONSerialization.jsonObject(with: data, options: []) as? NSDictionary) {
                          print(dictonary)
                      } else {
                          print("bad json")
                      }
                  } catch let error as NSError {
                      print(error)
                  }
              }
          }
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/sms/inbound-read/{message_id}:
    put:
      description: "Use this endpoint to mark a specific <a href=\"https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\"\
        \ target=\"_blank\">inbound SMS</a> as read. Unlike the **View Inbound SMS**\
        \ endpoint, which marks all inbound SMS as read, \nthis endpoint only marks\
        \ one specified inbound SMS. Specify the SMS to be marked as read by providing\
        \ its _message_id_."
      operationId: mark-specific-inbound-sms-message-as-read
      parameters:
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          The message_id of the inbound SMS to mark as read.

          <div class="info-box">
            <h4><i class="fas fa-info-circle"></i> Note:</h4>
            <p>
              When you receive an inbound message, you will get two parameters: <em>original_message_id</em> and <em>message_id</em>:
            </p>
            <ul>
              <li><em>original_message_id</em>: This is the ID of the outbound message sent to the recipient</li>
              <li><em>message_id</em>: This is the ID of the inbound message sent by the recipient.</li>
            </ul>
          </div>
        explode: false
        in: path
        name: message_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mark-specific-inbound-sms-message-as-read"
          description: Successful response
      security:
      - basicAuth: []
      summary: Mark Specific Inbound SMS Message As Read
      tags:
      - sms
      x-codeSamples:
      - lang: curl
        source: |-
          curl --include \
               --header "Authorization: Basic YXBpLXVzZXJuYW1lOmFwaS1wYXNzd29yZA=="  \
               --request PUT \
          'https://rest.clicksend.com/v3/sms/inbound-read/{message_id}'
      - lang: PHP
        source: |-
          <?php
          require_once(__DIR__ . '/vendor/autoload.php');

          // Configure HTTP basic authorization: BasicAuth
          $config = ClickSend\Configuration::getDefaultConfiguration()
                        ->setUsername('USERNAME')
                        ->setPassword('API_KEY');

          $apiInstance = new ClickSend\Api\SMSApi(new GuzzleHttp\Client(),$config);

          $message_id = "{message_id}";

          try {
              $result = $apiInstance->smsInboundReadByMessageIdPut($message_id);
              print_r($result);
[...]
